.caption{
   
    padding-top: 60px;
    margin: auto;
     /* MARGIN TOP*/
     margin-top: 250px;
    line-height :50px ;
  
}
    


.title{
    font-weight:900;
    font-size:xx-large;
    font-family: 'B612', sans-serif;
    margin-bottom: 20px;
}


.container{
    text-align: center;
}
.allteam{
    
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.team{
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}
.team img{
    width: 350px;
    height: 350px;
}
.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.descp{
    font-style: italic;
    color: #888;
}
.team4{
    opacity: 0.5;
}
/*.icones:hover{
    transform: scale(1.5);
}*/
.sevices-caption{
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}
