section {
    height: 100vh;
}

.section1 {
    margin-top: 21em;
    padding: 80px 18%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.divspacin {
    margin-bottom: 30em;
}

.section1 button {
    padding: 15px;
    background: #0A8080;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    width: 200px;
    color: #fff;

}

.firstitem h1 {
    font-size: xx-large;
}

.section1 img {
    bottom: -2px;
}

.section2 {
    margin: 35px;
    padding: 80px 18%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 245, 237, 0.5);
}

.sec2-title h1 {
    font-size: xx-large;
}

.sec2-title {
    color: #000000;
    margin-top: -50px;
    font-weight: 300;
    align-items: center;
    position: top;
    position: relative;
}

.allblock {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bolock1 {
    display: flex;
}

.bolock2 {
    display: flex;
}

.bolock3 {
    display: flex;
}